body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}

.column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.column h3 {
  color: #960000;
  margin-bottom: 20px;
}

.image-and-info {
  display: flex;
  align-items: flex-start;
}

.image {
  margin-right: 20px;
}

.image img {
  width: 100%;
  max-width: 250px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.info {
  flex: 1;
  text-align: left;
}

.button {
  background-color: #960000;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  font-size: 14px;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  color: #960000;
  border: 1px solid #960000;
}

.button-cadastrar {
  background-color: #007bff;
  max-width: 250px;
  margin-top: 20px;
}

.button-atualizar {
  background-color: #28a745;
}

.button-excluir {
  background-color: #dc3545;
  color: #fff;
}

.tabela-historico {
  width: 100%;
  margin-top: 15px;
  line-height: 2;
}

.historico-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar {
  background-color: #960000;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #f4f4f4;
  color: #960000;
}

.formVerificar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.formVerificar h3 {
  color: #960000;
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 15px;
}

.form-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-item input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.verificar-button {
  margin-top: 20px;
}

.hidden {
  display: none;
}
