body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #e74c3c;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-left: 0px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #c0392b;
}

p {
    font-size: 18px;
    margin: 5px 0;
}

.info {
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.requirements {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.requirements h3 {
    color: #e74c3c;
    margin-bottom: 10px;
}

.requirements ul {
    margin-bottom: 5px;
    margin-left: 20px;
    padding: 0;
}

.requirements li {
    font-size: 16px;
    margin-bottom: 10px;
}

.div-container {
    font-size: 0;
    margin: 25px;
}

.div1, .div2 {
  display: inline-block; 
  width: 50%; 
  box-sizing: border-box; 
  font-size: 16px; 
}

/* NAVBAR */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #960000;
}

li {
  float: left;
}

li a {
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F4F4F4;
    color: #960000;
}

.active {
    background-color: #04AA6D;
}

.navbar {
    text-align: left;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 3px;
    background-color: #F4F4F4;
    color: white;
}

img {
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*cover photo*/
container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.hero-image {
    background-image: url('../assets/drop.jpg');
    background-color: #ffffff;
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-55%, -55%);
    color: #960000;
}